<!DOCTYPE html>
<html>
  <head>
    <title>Review Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>Review Count by Project:</h1>
    <label for="projectSelector">Select Project:</label>
    <select id="projectSelector" onchange="updateCharts()">
      <--! Fix me: Shall be updated dynamically -->
      <option value="all">All Projects</option>
      {% for project in project_names %}
      <option value="{{ project }}">{{ project }}</option>
      {% endfor %}
    </select>

    <div id="loading-container" class="loading-container">
      <div class="loading-spinner"></div>
      <div class="loading-text">Loading...</div>
    </div>

    <div style="width: 80%; margin: auto" id="content">
      <canvas id="soleReviewChart"></canvas>
      <canvas id="multipleReviewChart"></canvas>
    </div>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
